@model CarritoDeCompras.Models.Compra

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Compra</h4>
    <hr />
    @if (@ViewBag.MessageOk != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.MessageOk
        </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellido), @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal) elegida
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sucursal.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Precio Actual
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    SubTotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Carrito.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.PrecioVigente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Empleado")
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    }
    
     <a class="btn btn-outline-light btn-primary" asp-controller="Compras" asp-action="Index" asp-route-id="@Model.Id">Volver a la lista</a>
</div>
