@model CarritoDeCompras.Models.Compra

@{
    ViewData["Title"] = "FinalizarCompra";
}

<h1>Su compra</h1>

<h4>Compra</h4>
<hr />
<div class="alert alert-danger" role="alert">
    No se pudo finalizar por falta de stock intente de nuevo más tarde.
</div>

<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellido), @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sucursal.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio Actual
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    SubTotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Carrito.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.PrecioVigente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Volver a mis compras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
