@model CarritoDeCompras.Models.Carrito
@{
    ViewData["Title"] = "Details";
}

<h1><img src=https://us.123rf.com/450wm/vectomart/vectomart1301/vectomart130100121/17694889-ilustraci%C3%B3n-del-carro-lleno-de-bolsa-de-la-compra-y-caja-de-regalo-con-la-cinta-en-venta.jpg?ver =6 width="200" height="200" alt="Computer Hope" /> MI CARRITO</h1>

<div>

    <hr />
    <dl class="row">
        @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Empleado")
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Activo)
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Subtotal)
        </dd>
    </dl>
</div>


<div>
   

            @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Empleado")
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
            }
            <a class="btn btn-outline-light btn-primary" asp-controller="Productos" asp-action="ListaProductos">Volver al catalogo</a>
            <div>
                <form asp-action="VaciarCarrito">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="submit" value="Vaciar carrito" class="btn-outline-danger btn-sm" />

                </form>
            </div>
            <div>
                <form asp-controller="Compras" asp-action="Index">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="submit" value="Ver mis compras" class="btn-outline-warning btn-sm" />
                </form>
            </div>
            <div>
                <button type="button" style="width : 100px; height : 30px" class="btn-outline-success btn-sm" data-toggle="modal" data-target="#myModal">
                    Generar compra
                </button>
            </div>

</div>
<div>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Precio Actual
                </th>
                <th>
                    Cantidad
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.PrecioVigente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    <a class="btn btn-outline-warning btn-sm" asp-controller="CarritoItems" asp-action="Edit" asp-route-Id="@item.Id">Editar Cantidad</a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="EliminarProducto" asp-route-productoId="@item.Producto.Id">Eliminar Producto</a>
                </td>
            </tr>

            }
        </tbody>
    </table>
</div>
<!-- Modal de confirmación de compra -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Comprar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                ¿Esta seguro que desea realizar la compra?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                <form name="comprar" asp-controller="Compras" asp-action="Comprar">
                    <input type="hidden" asp-for="@Model.Id" />
                    <button type="submit" class="btn btn-success">CONFIRMAR</button>
                </form>
            </div>

        </div>
    </div>
</div>


