@model IEnumerable<CarritoDeCompras.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Categoria
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad a comprar
            </th>
            <th>
                Precio total
            </th>
            <th>
               Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVigente)
            </td>
            <td>
                <input name="cant" id="cant" class="input-group-text" type="number" value="1" />
            </td>
            <td>
                <span name="cant" id="cant" />
            </td>
            <td>
                <a asp-action="VerDetalle" asp-route-id="@item.Id">Ver detalle</a>
                |
                <a asp-action="Add" asp-route-id="@item.Id">Agregar al carrito</a>
            </td>
        </tr>
}
    </tbody>
</table>
