<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarritoDeCompras</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="#" class="navbar-brand mb-0 h1"> <img src="https://img.freepik.com/vector-gratis/venta-carrito-compras-completo-pictograma-rojo_1284-8505.jpg?size=338&ext=jpg" width="60" height="60" /> </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Carrito De Compras</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="ListaProductos">Catalogo</a>
                        </li>


                        @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Cliente")
                        {


                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Sucursales" asp-action="ListaSucursales">Sucursales</a>
                            </li>
                        }


                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.FindFirstValue(ClaimTypes.GivenName)
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Details" asp-route-id="@User.FindFirstValue("IdUsuario")">Perfil</a>
                                    @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Empleado")
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item-text"><strong>Administrar</strong></div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Index">Lista Productos</a>
                                        <a class="dropdown-item" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="StockItems" asp-action="Index">Stock</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Compras" asp-action="Index">Mis compras</a>
                                    }
                                    <div class="dropdown-divider"></div>

                                    <form asp-controller="Usuarios" asp-action="Salir" method="post">
                                        <button type="submit" class="btn-danger dropdown-item">Salir</button>
                                    </form>
                                </div>
                            </div>
                            <li class="nav-item float-right">
                                <a class="nav-link font-italic" asp-area="" asp-controller="MiCarrito" asp-action="Details" asp-route-id="@User.FindFirstValue("IdCarrito")"><img src=https://img2.freepng.es/20190304/qhx/kisspng-shopping-cart-image-retail-5c7d798cb95d12.8341810515517269887593.jpg width="30" height="30" alt="Computer Hope" /> </a>
                            </li>
                            <li class="nav-item float-right">

                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-warning border border-primary bg-light" asp-area="" asp-controller="Usuarios" asp-action="Ingresar">Ingresar</a>
                            </li>
                        </ul>
                    </div>
                }


            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Carrito De Compras - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

